body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #221c29;
    overflow: hidden;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vmin;
    height: 70vmin;
    border-radius: 1%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vmin;
    height: 60vmin;
}

.display-container {
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    background: #644566;
    color: white;
    font-weight: bold;
    width: 50vmin;
    height: 10vmin;
    margin-bottom: 2em;
    border-radius: 1%;
}

#display {
    padding: 0.5em;
    font-size: 1.5rem;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5em;
    width: 100%;
    height: 100%;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background: #644566;
    color: white;
    border: none;
    border-radius: 2%;
    font-family: sans-serif;

}

#Enter, .clear {
    grid-column: span 2;
    background: #a35068;
}

[value~="0"] {
    grid-column: span 3;
}

.operator {
    background: #F67280;
}

button:hover {
    filter: brightness(120%);
}

